body {
    background: gray;
    margin: 0;
}

.page {
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    height: 480px;
    background: white;
    position: relative;
}

.page .background{
    position: absolute;
}

.page .content {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.start-page .start-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 300px;
}

.loading {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}