body {
    background: gray;
    margin: 0;
}

.page {
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    height: 480px;
    background: white;
}

.load-area {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}